@use "@/app/(client)/scss/abstracts" as *;

#Hero {
  @include full_padding_block;

  .hero_header {
    padding-bottom: rem(40);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(12);
    @include full-width;

    @include breakpoint(medium) {
      gap: rem(16);
    }

    @include breakpoint(large) {
      padding-bottom: rem(0);
    }

    @include breakpoint(xlarge) {
      gap: rem(20);
    }

    h1 {
      font-family: $domine;
      font-weight: 500;
      max-width: 80%;

      @include breakpoint(medium) {
        font-size: rem(32);
        max-width: 60%;
      }

      @include breakpoint(large) {
        font-size: rem(48);
        max-width: 70%;
      }

      @include breakpoint(xlarge) {
        font-size: rem(64);
        max-width: 80%;
      }
    }

    p {
      max-width: 40ch;

      @include breakpoint(medium) {
        font-size: rem(16);
        max-width: 60ch;
      }

      @include breakpoint(large) {
        font-size: rem(20);
      }

      @include breakpoint(xlarge) {
        font-size: rem(24);
        max-width: 70ch;
      }
    }
  }

  #MountedHeroGallery {
    @include full-width;

    @include breakpoint(medium) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: rem(12);
    }

    @include breakpoint(large) {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 1fr);
      gap: rem(12);
      height: rem(600);
    }

    @include breakpoint(xlarge) {
      height: rem(650);
    }

    .slider-item {
      display: none;
      position: relative;
      width: 100%;
      aspect-ratio: 4 / 5;
      padding: rem(20);
      border-radius: rem(12);
      overflow: hidden;
      @include bg_animation;

      &:nth-of-type(1) {
        display: block;
      }

      @include breakpoint(medium) {
        &:nth-of-type(2) {
          display: block;
        }
      }

      @include breakpoint(large) {
        aspect-ratio: auto;

        &:nth-of-type(3),
        &:nth-of-type(4),
        &:nth-of-type(5),
        &:nth-of-type(6),
        &:nth-of-type(7) {
          display: block;
        }
        &:nth-child(1) {
          grid-column: 1 / 2;
          grid-row: 1 / 4;
        }

        &:nth-child(2) {
          grid-column: 1 / 2;
          grid-row: 4 / 6;
        }

        &:nth-child(3) {
          grid-column: 2 / 3;
          grid-row: 2 / 6;
        }

        &:nth-child(4) {
          grid-column: 3 / 4;
          grid-row: 3 / 6;
        }

        &:nth-child(5) {
          grid-column: 4 / 5;
          grid-row: 2 / 6;
        }

        &:nth-child(6) {
          grid-column: 5 / 6;
          grid-row: 1 / 4;
        }

        &:nth-child(7) {
          grid-column: 5 / 6;
          grid-row: 4 / 6;
        }
      }
    }
  }
}
