@use "@/app/(client)/scss/abstracts" as *;

#Gallery {
  @include full_padding_block;
  @include full-width;

  .gallery_container {
    display: flex;
    flex-direction: column;
    gap: rem(24);

    @include breakpoint(large) {
      gap: rem(32);
    }

    h2 {
      font-family: $domine;
      font-size: rem(24);
      text-align: center;

      @include breakpoint(large) {
        font-size: rem(40);
      }
    }
  }
}
